@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Removed.</h1>
    <p><a asp-controller="Authentication" asp-action="Navigator">Move back to workspace</a></p>
</body>
</html>
