@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h>That account already exists</h>
    <h1><a asp-controller="Authentication" asp-action="LogIn">Log in</a></h1>
</body>
</html>
