@model CourseWork.Models.ModelUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h1>Coding Space</h1>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h>Welcome, @Model.NameBuilder</h>
    <p>You will soon be connected to see info about your order.</p>
</body>
</html>

