@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Further actions</h1>
    <p><a asp-controller="Team" asp-action="SeeTeams">Teams</a></p>
    <p><a asp-controller="Worker" asp-action="SeeWorkers">Workers</a></p>
    <p><a asp-controller="Project" asp-action="SeeProjects">Projects</a></p>
    <p><a asp-controller="Customer" asp-action="SeeCustomers">Customers</a></p>
</body>
</html>


