@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Further actions</h1>
    <p><a asp-controller="Project" asp-action="SeeProjectAsLeader" asp-route-id="@Model">Project</a></p>
    <p><a asp-controller="Worker" asp-action="SeeWorkersInProject" asp-route-id="@Model">My workers</a></p>
    <p><a asp-controller="Repository" asp-action="SeeRepositoriesAsLeader" asp-route-id="@Model">Repositories</a></p>
</body>
</html>


