@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Successfully created repository </h1>
    <p><a asp-controller="Repository" asp-action="SeeRepositoriesAsLeader" asp-route-id="@Model">Repositories</a></p>
</body>
</html>


