@model CourseWork.Models.ModelRepository
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Editing a Repository</h1>
    <form asp-controller="Repository" asp-action="EditedRepository" method="post">
        <div asp-validation-summary="All">
            <input type="hidden" asp-for="IdBuilder">
            <p><input placeholder="Insert name" asp-for="NameBuilder"></p>
            <p></p><button class="send_btn">Edit</button>
        </div>
    </form>
</body>
</html>
