@model CourseWork.Models.ModelTask
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Creating a Task</h1>
    <form asp-controller="Task" asp-action="CreateTask" method="post">
        <div asp-validation-summary="All">
            <p><input placeholder="Insert title" asp-for="TitleBuilder"></p>
            <p><input placeholder="Insert description" asp-for="DescBuilder"></p>
            <p><input placeholder="Insert starting date" asp-for="StartBuilder"></p>
            <p><input placeholder="Insert finishing date" asp-for="FinishBuilder"></p>
            <p><input placeholder="Insert priority" asp-for="PriorityBuilder"></p>
            <p></p><button class="send_btn">Create</button>
        </div>
    </form>
</body>
</html>


