@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <h>Coding Space</h>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Successfully edited task </h1>
    <p><a asp-controller="Task" asp-action="SeeTasksAsLeader" asp-route-id="@Model">Tasks</a></p>
</body>
</html>

